<div  class="hero-section">
    <div *ngIf="!registerMode"  class="container">
      <div  class="hero-content center">
        <h1 class="hero-title">Find you love</h1>
        <p class="hero-description">Come on in to view your matches... all you need to do is sign up</p>
        <div class="hero-buttons">
          <button (click)="registerToggle()" class="btn btn-primary">Registration</button>
          <button class="btn btn-secondary">Learn More</button>
        </div>
      </div>
    </div>
   
    <div *ngIf="registerMode" class="hero-section">
        <div class="row justify-content-center">            
                <app-register  (cancelRegister)="cancelRegisterMode($event)"></app-register>
        </div>
    </div>    
 </div>
