<div class="container">
    <h1 class="text-center">Not Found</h1>
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="card">
          <div class="card-header">
            <h4>Not Found</h4>
          </div>
          <div class="card-body">
            <p>Sorry, the page you are looking for does not exist.</p>
          </div>
          <button class="btn btn-primary btn-block" routerLink="/">Return to Home</button>
        </div>
      </div>
    </div>
  </div>
