.profile-card {
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  padding: 15px;
}

.profile-picture {
  margin: 0 auto;
  display: block;
  width: 100%;
  max-width: 200px;
  height: auto;
  border-radius: 0%;
}

.profile-info {
  margin-top: 20px;
}

.profile-info div {
  margin-bottom: 10px;
}

.profile-actions {
  margin-top: 20px;
}

.member-tabset > .nav-tabs {
  border: none;
}

.member-tabset > .nav-tabs > li {
  margin-right: 2px;
}

.member-tabset > .nav-tabs > li > a {
  border-radius: 0;
}

.member-tabset > .nav-tabs > li.open > a,
.member-tabset > .nav-tabs > li:hover > a {
  border: 0;
  background: none !important;
  color: #333333;
}

.member-tabset > .nav-tabs > li.open > a > i,
.member-tabset > .nav-tabs > li:hover > a > i {
  color: #a6a6a6;
}

.member-tabset > .nav-tabs > li.open .dropdown-menu,
.member-tabset > .nav-tabs > li:hover .dropdown-menu {
  margin-top: 0px;
}

.member-tabset > .nav-tabs > li.active > a {
  border: 0 !important;
  color: #333333;
}

.member-tabset > .nav-tabs > li.active > a > i {
  color: #404040;
}

.member-tabset > .tab-content {
  margin-top: -3px;
  background-color: #fff;
  border: 0;
  border-top: 1px solid #eee;
  padding: 15px 0;
}
